<div class="container">
	<div class="row">
		<h2>Add a collaborator: <%= @wiki.name %></h2>
		<%= form_for [@wiki, @collaborator] do |f| %>
			<%= f.select :user_id, User.all.collect { |u| [u.email, u.id] }, prompt: 'Select a Collaborator' %>
			<%= hidden_field(:wiki, :id) %>
			<%= hidden_field(:user, :user_id) %>
			<%= f.submit %>
		<% end %>
			

	</div>
</div>
