<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "< All Pages", pages_path %>
			<h1><%= @page.title %></h1>
			<%= link_to "Edit", edit_page_path(@page) %> | <%= link_to "Delete Page", page_path(@page), method: :delete %>
			<p><%= @page.body %></p>
			<small>
				Page created by: <%= @page.user.name %> <%= time_ago_in_words(@page.created_at) %> ago.
			</small>
		</div>
	</div>
</div>
			