<%= form_for wiki do |f| %>
	
	<div class="form-group">
		<% if current_user.premium == "upgraded" %>
			<%= f.check_box :private, value: true %>
			<%= f.label :private, 'Make my wiki private' %>
		<% else %>
			<p>Not upgraded</p>
		<% end %>
	</div>

	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control', placeholder: "Enter the name of your wiki" %>

	<%= f.submit "Save", class: 'btn btn-success' %>

<% end %>