<div class="container">
	<h1><%= @wikis.count %> Wikis:</h1>
	<% if @wikis.count > 0 %>
		<% @wikis.each do |w| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to (markdown w.name), w %>
			</div>
			<div class="panel-body">
				<p><%= link_to "Edit Name", edit_wiki_path(w) %></p>
				<p><%= link_to "#{w.pages.count} pages", w %></p>
				<p><%= w.collaborators.count %> Collaborators - <%= link_to "Add or Remove Collaborators", wiki_collaborators_path(w) %></p>
				<small>
					Wiki created by: <%= w.user.name.present? ? w.user.name : w.user.email %> <%= time_ago_in_words(w.created_at) %> ago.
					<!-- Longer way of doing this is: if w.user.name.present? then w.user.name else w.user.email end --> 
				</small>
			</div>
		</div>
			
		<% end %>
	<% else %>
		<h3>Create your first wiki!</h3>
		<%= render partial: 'form', locals: { wiki: @wiki} %>
		
	<% end %>
</div>