<div class="container">
	<div class="row">
		<%= link_to "< All Wikis", wikis_path %>
		<h1><%= markdown @wiki.name %></h1>
		<%= link_to "Create a New Page", new_wiki_page_path(@wiki, @page), class: 'btn btn-success' %>
		<% if @pages.count > 0 %>
			<% @pages.each do |p| %>
				<h3><%= link_to (markdown p.title), p(@wiki, p) %></h3>
				<p><%= markdown p.body %></p>
			<% end %>
		<% else %>
			<p>No pages yet. <%= link_to "Create one now.", new_wiki_page_path(@wiki, @page) %></p>
		<% end %>
	</div>
</div>
