<div id="wikis">
	<div class="container">
		<div class="row">
			<div class="show">
				<%= link_to "Create a New Page", new_wiki_page_path(@wiki, @page), class: 'button pull-right' %>
				<h2><%= markdown @wiki.name %></h2>
				
				<h3>Pages:</h3>
				<% if @pages.count > 0 %>
					<% @pages.each do |p| %>
						<h3><%= link_to (markdown p.title), p(@wiki, p) %></h3>
						<p><%= markdown p.body %></p>
					<% end %>
				<% else %>
					<p class="no-pages">No pages yet. <%= link_to "Create one now", new_wiki_page_path(@wiki, @page), class: "inline-links" %>.</p>
				<% end %>
				<p><%= link_to "< All Wikis", wikis_path, class: 'inline-links' %> | <%= link_to "See Collaborators", wiki_collaborators_path(@wiki), class: "inline-links" %></p>
			</div>
		</div>
	</div>

</div>