<% if current_page?(root_path) %>
<% else %>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to "B", root_path, class: "navbar-brand", id: "logo" %>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" id="blocipedia-nav">
					<li class='<%= "nav #{'active' if current_page?(wikis_path)}" %>'><%= link_to "My Wikis", wikis_path, class: "trackable", "data-track" => "nav-bar-my-wikis" %></li>
					<li class='<%= "nav #{'active' if current_page?(new_wiki_path)}" %>'><%= link_to " ", new_wiki_path, class: "glyphicon glyphicon-plus trackable", alt: "Add a New Wiki", "data-track" => "nav-bar-new-wiki" %></li>
					<% if current_user && current_user.premium == "upgraded" %>
					<% else %>
						<li class='<%= "nav #{'active' if current_page?(new_charge_path)}" %>'><%= link_to "Get Premium Wikis", new_charge_path, class: "trackable", "data-track" => "nav-bar-go-premium" %></li>
					<% end %>
				</ul>

				<ul class="nav navbar-nav navbar-right" id="blocipedia-nav">
					<% if current_user %>
						<li class='<%= "nav #{'active' if current_page?(edit_user_registration_path)}" %>'><%= link_to (if current_user.name.present? then current_user.name else current_user.email end), edit_user_registration_path %></li>
						<!-- Shorter way of doing this is: current_user.name.present? ? current_user.name : current_user.email --> 
						<li class='<%= "nav #{'active' if current_page?(destroy_user_session_path)}" %>'><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li class='<%= "nav #{'active' if current_page?(new_user_session_path)}" %>'><%= link_to "Sign In", new_user_session_path %></li>
						<li class='<%= "nav #{'active' if current_page?(new_user_registration_path)}" %>'><%= link_to	"Sign Up", new_user_registration_path, class: "trackable", "data-track" => "nav-bar-sign-up" %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
<% end %>